/* GENERAL STYLE */
* {
  margin: 0;
}

body {
  /* display: flex; */
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3 {
  align-items: center;
  text-align: center;
  font-weight: normal;
  font-size: 3vw;
  display: flex center;
  color: #fff;
  margin: 0;
  padding: 0;
}

#demo {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

/* HEADER */

/* NAV  */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

/* Video Background */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

#like_button_container {
  padding-bottom: 10px;
  margin-bottom: auto;
}
div.content {
  margin-bottom: 4%;
  display: flexbox;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  align-items: center;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.btn {
  width: 100%;
  align-items: center;
  border: 1px solid white;
  position: center;
}

/* FOOTER */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

.credits {
  color: gray;
  font-size: x-small;
}
.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
